  body {
            color: #edeef2;
            font-family:"HK Grotesk";
        }

        .issuep {
            font-size: 0.9em !important;
            line-height: 2em !important;
        }

        .getinvolved-link {
            display: inline-block;
            text-decoration: none;
            margin: 1em;
            padding: 0.3em;
            color: #c4f2f5;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }

        .venture-box a {
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;

            transform: translateY(0px);
        }

        .venture-box a:hover {
            text-shadow: 0 0 20px #e8eaed;
            transform: translateY(-3px);
        }

        .venture-box {
            display: inline-block;
            width: 350px;
            color: #fff;
            margin: 1em;
            border-bottom: 1px solid #4d4e51;
            padding: .5em;
        }

        .venture-box h1 {
            color: #fff;
            font-size: 22px;
        }

        .venture-box h4 {
            color: #a7e4e6;
            font-size: 14px;
            margin: 0;
            font-style: italic;
            font-weight: 100;
            width: 200px;
            padding-bottom: .3em;
        }

        .venture-box p {
            color: #fff;
        }
        
        .venture-box-large{
            width:80%;
            border:none;
        }
        
        .venture-box-large img{float:left; padding:0 2em 0 2em; box-sizing: border-box; opacity:0.7;
        }
        
        .venture-box-large-content{
            
            position:absolute;
            width:60%;
            min-width:500px;
            right:10%; 
            padding:1.5em;
        }
        
        .venture-box-large h2{
            margin:0;
            font-size:26px;
            font-family:"Termina";
            color:#a7e4e6;
            text-align: right;margin-right:8%;}
        
        .venture-box-large-content p{
            float:right;
            width:60%;
            text-align: left;
        }
        
        .venture-p{
            font-size:22px;
            text-shadow:0 0 20px #fff;
        }
        
        .venture-p a{
            font-weight:bold;
            font-family:"Work Sans";
            color:#a7e4e6;
            font-size:18px;
            text-decoration: none;
        }

        .program-box {
            width: 450px;
            display: block;

        }

        .program-box h1 {
            font-size: 17px;
            font-family: "Termina";
            color: #f9fafc;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            padding: .5em;
        }

        .program-box p {
            text-align: justify;
            color: #595b60;
            background: #f4f5f7;
            padding: 1em;
        }

        .program-box a {
            color: blue;
            text-decoration: none;
            font-weight: 800;
            text-shadow: 0 0 20px #dadde5;
        }

        .program-box a:hover {
            text-shadow: none;
        }

        .how-help {
            width: 170px;
            display: inline-block;
        }

        .how-help i {
            display: block;
            font-size: 32px;
            padding-bottom: .3em;
        }

        .how-help strong {
            font-weight: 100;
            font-size: 14px;

        }

        .bigbtn {
            display: inline-block;
            width: 200px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            font-family: "Poppins";
            font-weight: 800;
            box-shadow: 0 5px 20px #1a1a1c;
            height: 30px;
            line-height: 30px;
            margin: 1em;
            padding: .3em;
            background: #396afc;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2948ff, #396afc);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2948ff, #396afc);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .bigbtn:hover {
            transform: translateY(-3px);
            text-shadow: 0 0 53px #fff;
            box-shadow: 0 5px 20px #273d60 !important;
        }

        #content p {
            color: #fff;
            font-size: 16px !important;
            line-height: 24px;
        }

        h1 {
            margin: 0;
        }