/* Text styling */

#content-block h3 {
    background: -webkit-linear-gradient(#e66ec8, #7571e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-family: "Work Sans";
}

.project-content p {
    font-family: "HK Grotesk";
    font-family: 15px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bigbtn {
    display: inline-block;
    width: 210px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-family: "Work Sans";
    box-shadow: 0 5px 20px #1a1a1c;
    height: 30px;
    line-height: 30px;
    margin: 1em;
    padding: .3em;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #55bbb4, #9cbc64);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #55bbb4, #9cbc64);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.23s ease-in-out 0s;
}

.bigbtn:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 53px #fff;
    box-shadow: 0 5px 20px #273d60 !important;
}

/* Pitch Day */


#pitchday h2 {
    background: -webkit-linear-gradient(#e66ec8, #7571e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#pitchday p {
    color: #e3eff2;
    text-align: left;
    line-height: 27px;
}

.pitchday-schedule table {
    align-content: center;
    width: 100%;
    max-width: 500px;
}

.pitchday-announce {
    text-align: center !important;
    font-family: 'Recoleta' !important;
}

.pitchday-announce strong {
    font-size: 24px !important;
    line-height: 32px !important;
    text-shadow: 0 0 20px #1d257d;
    text-decoration: none;
    font-weight: normal;
}



#pitchday .bigbigbtn {
    display: inline-block;
    width: 290px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-family: "Work Sans";
    box-shadow: 0 5px 20px #1a1a1c;
    height: 45px;
    line-height: 45px;
    font-size: 18px !important;
    margin: 1em;
    padding: .3em;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #645faa, #f2c6d6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #645faa, #f2c6d6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.23s ease-in-out 0s;
}

#pitchday .bigbigbtn:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 53px #fff;
    box-shadow: 0 5px 20px #273d60 !important;
}

#pitchday .pitchday-advocacypartner {
    width: 200px;
    padding: 1em;
}

#pitchday .pitchday-advocacypartner h1 {
    font-size: 14px;
    font-family: "Rubik";
    color: #fff;
}


#pitchday .pitchday-advocacypartner img {
    border-radius: 100%;
}


#pitchday .pitchday-advocacysector {
    margin: .5em;
    padding: .2em;
    border-radius: 15px;
    font-size: 16px;
    color: #000 !important;
    font-family: "Rubik";
    background: #000;
}





.tg td {
    font-family: Rubik, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}


.tg .tg-1wig {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    color: #86d4d1;
    max-width: 140px;
}

.tg .tg-fymr {
    font-weight: bold;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
    color: #fff;
    font-family: "HK Grotesk";
}

/* Special Divs */

.whycollab {
    display: inline-block;
    width: 280px;
    margin: 1em;
    padding: .5em;
}

.whycollab h3 {
    font-family: 'Recoleta';
    font-weight: 500;
}

.whycollab p {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    line-height: 22px !important;
}

.whycollab p strong {
    font-family: 'rubik';
}


/* Fonts */

@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-Regular.eot');
    src: url('fonts/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Recoleta-Regular.woff2') format('woff2'),
        url('fonts/Recoleta-Regular.woff') format('woff'),
        url('fonts/Recoleta-Regular.ttf') format('truetype'),
        url('fonts/Recoleta-Regular.svg#Recoleta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-Medium.eot');
    src: url('fonts/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Recoleta-Medium.woff2') format('woff2'),
        url('fonts/Recoleta-Medium.woff') format('woff'),
        url('fonts/Recoleta-Medium.ttf') format('truetype'),
        url('fonts/Recoleta-Medium.svg#Recoleta-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-Black.eot');
    src: url('fonts/Recoleta-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Recoleta-Black.woff2') format('woff2'),
        url('fonts/Recoleta-Black.woff') format('woff'),
        url('fonts/Recoleta-Black.ttf') format('truetype'),
        url('fonts/Recoleta-Black.svg#Recoleta-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
